body {
    font-family: $font-florensans-title;
    color: $--primary-color;
    background-color: var(--bg-color);
    @include font-size($base-font-size);
    margin: 0;
    box-sizing: border-box;
}

a {
    color: $--txt-color;
    text-decoration: none;

    &:hover {
        color: $--secondary-color;
        text-decoration: underline;
    }
}

.container {
    max-width: 1140px;
}

@include media-size(big-desktop) {
    .container {
        max-width: 1340px;
    }
}

// Heading
h1,
.h1,
h2,
.h2 {
    @include header-style;
}

h1,
.h1 {
    @include font-size-m($font-size-28);

    @include media-size(big-mobile) {
        @include font-size($font-size-32);
    }

    text-transform: uppercase;
}

h2,
.h2 {
    @include font-size-m($font-size-28);
    // @include header-style-underline;

    @include media-size(big-mobile) {
        @include font-size($font-size-32);
    }
}

h3,
.h3 {
    text-align: left;
    @include font-size-m($font-size-20);
    font-family: $font-rustica-500;

    &::after {
        display: none;
    }
}

h4,
.h4 {
    text-align: left;
    @include font-size-m($font-size-20);
    font-family: $font-rustica-500;

    &::after {
        display: none;
    }
}

h5,
.h5 {
    text-align: left;
    @include font-size-m($font-size-16);
    font-family: $font-rustica-500;

    &::after {
        display: none;
    }
}

p {
    font-size: font-size($base-font-size);
    font-family: $font-rustica-300;
    color: $--txt-color
}

span {
    color: $--txt-color;
}

// CTA Buttons
.btn {
    @include cta-button;
}

.btn-primary {
    background-color: $--secondary-color;
    color: $white;

    &:visited,
    &:active,
    &:first-child:active {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
    }

    &:hover {
        background-color: $white;
        color: $--primary-color;
        border: 1px solid $--primary-color;
    }
}

.btn-secondary {
    background-color: $white;
    color: $--secondary-color;

    &:visited,
    &:active {
        background-color: $white !important;
        color: var(--secondary-color) !important;
    }

    &:hover {
        background-color: var(--secondary-color);
        color: $white;
        border-color: var(--secondary-color-hover);
    }
}

.btn-link {
    text-decoration: none;
    color: $--primary-color;


    &:visited,
    &:active {
        background-color: $white !important;
        color: var(--secondary-color) !important;
    }

    &:hover {
        color: $teal500;
        border-bottom: 1px solid $teal800;
        text-decoration: none;
    }
}

.no-scroll {
    overflow-y: hidden;
}

.canvas-donuts {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 50px;
}

.donut {
    max-width: 800px;
    margin: 0 auto;
}

.line-canvas-para {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-canvas {
    max-width: 100%;
}

.three-column-canvas {
    margin: 50px 0;

    .list {
        &:first-child {
            border-right: 1px solid #F2F2DA
        }
    }
}
.placeholder{
   margin-bottom: 190px;
   background-color:$white;
}