.layout {
    position: relative;
    background: $white;

    #nav-toggle {
        width: 30px;
        height: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 10000;

        span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: $--txt-color;
            border-radius: 2px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;

            &:nth-child(1) {
                top: 0;
                transform-origin: left center;
            }

            &:nth-child(2) {
                top: 10px;
                transform-origin: left center;
            }

            &:nth-child(3) {
                top: 20px;
                transform-origin: left center;
            }
        }
    }

    .navbar {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;

        .navbar-brand {
            display: flex;
            flex-direction: row;
            justify-content: space-between !important;

            @media (max-width: 1067px) {
                width: 100%;
                justify-content: center !important;
            }

            @include media-size(desktop) {
                justify-content: flex-start;
            }

            .logo {
                img {
                    width: 130px;
                    height: auto;
                    margin-top: 0px;

                    @include media-size(desktop) {
                        margin-top: 0px;
                    }
                }
            }
        }

        .navbar-navs {
            display: none;
        }

        .nav-item {
            position: relative;
            padding: 0;
        }

        .nav-link {
            text-decoration: none;
            transition: color 0.5s ease-in-out;

            &::after {
                position: absolute;
                bottom: 0px;
                left: 0;
                right: 0;
                margin: auto;
                background-color: $--secondary-color;
                width: 0%;
                content: "";
                height: 2px;
                transition: all 0.5s;
            }

            @media (min-width: 1068px) {
                &::after {
                    bottom: -23px;
                }
            }

            &:hover {
                @include active-navbar;
            }
            &.active-nav{
                @include active-navbar;
            }
        }

        .mobile-nav {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            left: 0;
            color: $white;
            height: 100vh;
            z-index: 9999;
            //
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;


            &-open {
                opacity: 1;
                transform: translateX(0);
            }

            &-close {
                opacity: 0;
                transform: translateX(100%);
            }

            .nav-lists {
                max-width: 80%;
                margin-right: -10px;
                height: 100%;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.95);
                border: 1px solid $--primary-color;
                border-top-left-radius: 10px;
                border-top-left-radius: 10px;
                border-radius: 0 0 0 10px;
                color: $--txt-color;
                padding: 150px 30px;
                list-style: none;
                overflow-x: hidden;

                @include media-size(tablet) {
                    width: 50%;
                }

                .nav-link {
                    // margin-top: 10px;
                    text-transform: uppercase;
                    font-family: $font-rustica-500;
                    font-size: 1.2rem;
                    font-weight: bold;
                    padding: 12px 24px;
                    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; // Add a transition for background-color and color

                    &:hover {
                        background-color: $--primary-color; // Change the background color to the primary color when hovering or focusing
                        color: $white; // Change the text color to white when hovering or focusing
                    }
                }
            }
        }
    }



    @include media-size(big-desktop) {
        .container {
            max-width: 1340px;
        }
    }

    #nav-toggle.open {
        span {
            &:nth-child(1) {
                top: 10px; // Move the first line to the middle
                transform: rotate(45deg);
                transform-origin: center center;
            }

            &:nth-child(2) {
                opacity: 0;
                left: -60px; // Move the line out of view
            }

            &:nth-child(3) {
                top: 10px; // Move the third line to the middle
                transform: rotate(-45deg);
                transform-origin: center center;
            }
        }
    }
}
.nav-lists{
  
}

.layout.active {
    z-index: 9999;
    position: fixed;
    top: 0;
    opacity: 1;
    width: 100%;
    animation: slide-down 300ms forwards;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 1068px) {


    .layout.navbar {
        .navbar-expand-lg .navbar-collapse {
            justify-content: flex-end !important;
        }

        .mobile-nav {
            display: none;
            opacity: 0;
        }
    }

    #nav-toggle {
        display: none;
    }

    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1068px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;

        .nav-link {
            text-transform: uppercase;
            color: black;
            font-family: $font-rustica-500;
        }
    }
}

@media (max-width: 1067px) {
    .navbar-expand-lg .navbar-collapse {
        .nav-link {
            display: none;
        }
    }
}