.three-column {
    // background-color: $gray100;

    &-list {
        align-items: stretch;

        .card {
            height: 100%;
            width: 80%;
            margin: 0 auto;
            padding: 1rem !important;

            &-title {
                text-align: left !important;
                padding-left: 0.5rem !important;
            }

            &-body {
                list-style: none;

                li {
                    text-align: left;
                }
            }

            @include media-size(desktop) {
                width: 100%;
            }
        }
    }
}

.three-column-borderless {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }

    .col {
        border-left: 1px solid #F2F2DA;
        padding: 1em;
        position: relative;

        &:first-child {
            border-left: 1px solid white;
        }

        @media (max-width: 992px) {
            border-left: 1px solid white;
            border-bottom: 1px solid #F2F2DA;
            padding-left: 10px;
            
            &:last-child {
                border-bottom: 1px solid white;
            }
        }
    }

    // display: none;
    .card {
        width: 100%;
        border: 1px solid white !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        padding: 0rem !important;

        &-title {
            font-family: $font-florensans-title;
            font-weight: 100 !important;
            font-size: $font-size-20;
            text-align: center !important;
        }


        .card-body {
            list-style-type: disc;
            font-size: $font-size-16;


            li {
                margin-bottom: 1px;
                text-align: left;

                // @include media-size(desktop) {
                //     text-align: left;
                // }

                span {
                    font-family: $font-rustica-300;
                    font-weight: 200 !important;
                }
            }
        }
    }
}