@mixin two-col-content($size) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .two-column-text-right {
        max-width: calc(100% - 20px);
        padding: 0 20px;
        text-align: center;

        h3 {
            font-size: $font-size-24;
        }

    }

    @include media-size(desktop) {

        flex-direction: row;

        .two-column-text-right {
            max-width: calc(50% - 20px);
        }

        @if $size ==reverse {
            flex-direction: row-reverse;
        }

        @else if $size ==forward {
            flex-direction: row;
        }
    }
}

.two-column {
    .container {
        max-width: 1140px;
    }

    @media (max-width: 992px) {
        .container {
            max-width: 720px;
        }
    }

    margin-top: 20px;

    .content {
        @include two-col-content(forward);
    }

    .reverse-position-image {
        @include two-col-content(reverse);
    }

}
.header-resize {
    font-size: $font-size-32;
    font-family: $font-florensans-title;
    line-height:$base-line-height ;
}